<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">Shedule Admin</a>
  </h1>

  <ul  *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Главная</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'create']">Создать</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
