<router-outlet></router-outlet>

<div style="text-align:center">
    <h1 translate>Title</h1>

  <h6>{{ 'WelcomeMessage' | translate: user }}</h6>

  <button (click)="switchLanguage('en')">{{ 'English' | translate }}</button>

  <button (click)="switchLanguage('ru')">{{ 'Russian' | translate }}</button>
</div>
